<header>
    <h1>Xmasher - L'hébergeur d'image de la communauté Heartless Gaming</h1>
    <nav>
        <a href="auth/signup">S'inscrire</a>
        <a href="auth/signin">Se connecter</a>
    </nav>
</header>
