{% extends 'templates/app.twig' %}

{% block content %}
  {% if flash.getMessage('imagename') %}
    <p>{{ flash.getMessage('imagename') | first }}</p>
  {% endif %}
  <div class="o-wrapper--tiny upload-image">
    <form action="{{ path_for('upload') }}" method="post" enctype="multipart/form-data" class="upload-image__form">
        <label for="uploadimage" class="upload-image__label">Envoyer une image</label>
        <input type="file" name="uploadimage" value="" class="upload-image__input">
      {{ csrf.field | raw }}
      <input type="submit" value="Envoyer l'image" class="btn upload-image__submit">
    </form>
  </div>
{% endblock %}
