{% extends 'templates/app.twig' %}

{% block content %}
  <div class="o-wrapper--tiny upload-image">
    <div class="upload-image__errors">{{ errors | json_encode }}</div>
    <form action="{{ path_for('home') }}" method="post" enctype="multipart/form-data" class="upload-image__form">
        <label for="uploadimage" class="upload-image__label">Envoyer une image</label>
        <input type="file" name="uploadimage" accept=".jpg,.jpeg,.png,.gif" class="upload-image__input">
      {{ csrf.field | raw }}
      <input type="submit" value="Envoyer l'image" class="btn upload-image__submit">
    </form>
  </div>
{% endblock %}
