{% extends 'templates/app.twig' %}

{% block content %}
  {{ errors | json_encode }}
  <form action="{{ path_for('auth.signin') }}" method="post" autocomplete="off">
    <div>
      <label for="mail">Adresse mail</label>
      <input type="email" name="mail" placeholder="example@example.com" value="{{ old.mail }}">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="LaReineD'engleterreEst110%SEXY">
    </div>
    {{ csrf.field | raw }}
    <button type="submit">S'inscrire</button>
  </form>
{% endblock %}
