{% extends 'templates/app.twig' %}

{% block content %}
  <form action="{{ path_for('auth.signup') }}" method="post">
    <div>
      <label for="email">Adresse mail</label>
      <input type="email" name="email" placeholder="example@example.com">
    </div>
    <div>
      <label for="name">Pseudo*</label>
      <input type="text" name="name" placeholder="DarkAngel64">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="LaReineD'engleterreEst110%SEXY">
    </div>
    <button type="submit">S'inscrire</button>
  </form>
{% endblock %}
