<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Xmasher - L'hébergeur d'image de la communauté Heartless Gaming</title>
</head>
<body>
{% include 'templates/partials/header.twig' %}
<main>
  {% block content %}{% endblock %}
</main>
{% include 'templates/partials/footer.twig' %}
</body>
</html>
