<!DOCTYPE html>
<html lang="fr">
{# <head> #}
    <meta charset="UTF-8">
    {% block head %}
        <link rel="stylesheet" href="{{ path_for('home') }}css/style.css" />
        <title>{% block title %}Xmasher - Hébergeur d'image{% endblock %}</title>
        <meta name="description" content="{% block metadescription %}Xmasher est un un hébergeur fais par Heartless Gaming. Le digne descendant de xtropik.{% endblock %}">
    {% endblock %}
</head>
<body>
{% include 'templates/partials/flash.twig' %}
  <header class="o-wrapper page-header">
{% block header %}
    <h1>{% block pagetitle %}Xmasher - L'hébergeur d'image de la communauté Heartless Gaming{% endblock %}</h1>
{% endblock %}
</header>
<main class="o-wrapper">
  {% block content %}{% endblock %}
</main>
{% block footer %}
  <footer class="o-wrapper page-footer">
    <hr>
    <p>Projet sous liscence <a href="https://raw.githubusercontent.com/heartless-gaming/xmasher/master/LICENSE">GNU GPL v3</a>.</p>
    <p>Code Source sur le <a href="https://github.com/heartless-gaming/xmasher">github Heartless Gaming</a>.</p>
  </footer>
{% endblock %}
<script type="text/javascript" src="{{ path_for('home')}}/js/script.js"></script>
</body>
</html>
